# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# IDE/Editor specific
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log

# Build output
dist/
build/
coverage/

# Temporary files
tmp/
temp/

# Debug files
.debug/

# ENV
.env
.en.*
!.env.template

# DB
pg/